@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura.eot');
    src: url('../fonts/futura.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura.woff') format('woff'),
         url('../fonts/futura.ttf') format('truetype'),
         url('../fonts/futura.svg#Futura') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LobsterTwoItalic';
    src: url('../fonts/lobstertwo-italic-webfont.eot');
    src: url('../fonts/lobstertwo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobstertwo-italic-webfont.woff') format('woff'),
         url('../fonts/lobstertwo-italic-webfont.ttf') format('truetype'),
         url('../fonts/lobstertwo-italic-webfont.svg#LobsterTwoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LobsterTwoBold';
    src: url('../fonts/lobstertwo-bold-webfont.eot');
    src: url('../fonts/lobstertwo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobstertwo-bold-webfont.woff') format('woff'),
         url('../fonts/lobstertwo-bold-webfont.ttf') format('truetype'),
         url('../fonts/lobstertwo-bold-webfont.svg#LobsterTwoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LobsterTwoBoldItalic';
    src: url('../fonts/lobstertwo-bolditalic-webfont.eot');
    src: url('../fonts/lobstertwo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobstertwo-bolditalic-webfont.woff') format('woff'),
         url('../fonts/lobstertwo-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/lobstertwo-bolditalic-webfont.svg#LobsterTwoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LobsterTwoRegular';
    src: url('../fonts/lobstertwo-regular-webfont.eot');
    src: url('../fonts/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobstertwo-regular-webfont.woff') format('woff'),
         url('../fonts/lobstertwo-regular-webfont.ttf') format('truetype'),
         url('../fonts/lobstertwo-regular-webfont.svg#LobsterTwoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@blue: #55adaa;
@darkblue: #47928f;

@white: #e7e3cf;
@darkwhite: #d2cfbe;

@black: #414042;
@darkblack: #282828;

@background: #f6f4ec;



body {
	font-size: 10px;
	line-height: 1.2;
	background: @blue;
	div#container-all{
		width: 960px;
		margin: auto;
		background: #f6f4ec;
		border-left: 7px solid @darkblue;
		border-right: 7px solid @darkblue;
		header{
			div.top-bar{
				height: 50px;
				width: 960px;
				background: #414042;
				border-bottom: 4px solid @darkblack;
				a.link-topbar{
					display: inline-block;
					width: 60px;
					height: 50px;
					margin: 0 10px;
					vertical-align: top;
					text-indent: -9999px;
					text-align: center;
					background: url("../img/layout/icon-topbar.png") 0 0 no-repeat;
				}
				a.link-home{
					background-position:0 0;
				}
				a.link-setting{
					background-position:0 -100px;
				}
				a.link-stat{
					background-position:0 -150px;
				}
				a.link-logout{						
					background-position:0 -200px;
				}	
				a.link-message{
					position: relative;
					background-position:0 -50px;
					color: #282828;
					 text-decoration: none;
					span.icon{
						position: absolute;
						text-indent: 0;
						font-size: 2em;
						width: 32px;
						height: 36px;
						background: @white;
						bottom: -40px;
						left: 14px;
						font-family: 'LobsterTwoBold';
						line-height: 35px;
						text-decoration: none;
						box-shadow: 4px 4px 0px @darkwhite;
						
					}
				}
				ul{
					display: inline-block;
					width: 540px;
					padding: 0 10px;
					margin: 0;
					vertical-align: top;
					li{
						display: inline-block;
						width: 60px;
						height: 50px;
						padding: 0 10px;
						vertical-align: top;
						position: relative;
						text-align: center;
						font-size: 2.4em;
						font-family: 'LeagueGothicRegular';
						color: @white;
						line-height: 50px;
						span.icon{
							position: absolute;
							text-indent: -99999px;
							width: 32px;
							height: 36px;
							bottom: -40px;
							left: 24px;
							background: @blue url("../img/layout/icon-ressource.png") 0 0 no-repeat;
							box-shadow: 4px 4px 0px @darkblue;
						}
						span.icon-pierre{
							background-position:0 0px;
						}
						span.icon-metal{
							background-position:0 -36px;
						}
						span.icon-oxygene{
							background-position:0 -72px;
						}
						span.icon-carburant{
							background-position:0 -108px;
						}
						span.icon-argent{
							background-position:0 -144px;
						}
					}
				}
			}
			nav {
				margin-top: 80px;
				padding-top: 20px;
				background: url("../img/layout/lineblack.png") left top repeat-x;
				li{
					display: inline-block;
					width: 140px;
					height: 130px;
					text-align: center;
					border-radius: 5px;
					margin: 0 10px;
					a{
						border-radius: 5px;
						display: block;
						margin: 10px;
						width: 120px;
						height: 110px;
						line-height: 160px;
						font-family: 'LobsterTwoBold';
						color: @black;
						font-size: 2em;
						text-decoration: none;
						background: url("../img/layout/icon-nav.png") no-repeat center top;
						&.link-personnel{
							background-position: 0 0;
						}
						&.link-building{
							background-position: -120px 0;
						}
						&.link-technology{
							background-position: -240px 0;
						}
						&.link-equipment{
							background-position: -360px 0;
						}
						&.link-mission{
							background-position: -480px 0;
						}
						&.link-know{
							background-position: -600px 0;
						}
						&.active span{
							background: url("../img/layout/lineblack.png") repeat-x bottom;
							padding-bottom: 10px;
						}
					}
					&:hover{
						background: @darkwhite;
						a{
							border: 2px dashed #b8b6a9;
							margin: 8px;
						} 
					}
				}
			}
		}
		div.content{
			div.welcome{
				p{
					font-family: 'LobsterTwoBold';
					font-size: 2.4em;
					color: @black;
					text-align: center;
				}
			}
			div.historicalDate{
				width: 780px;
				padding: 10px;
				margin: auto;
				background-color: @darkwhite;
				p{
					font-family: Georgia;
					color: @black;
					font-size: 16px;
					font-style: italic;
				}
			}
			div.mission{
				h1{
					font-family: 'LobsterTwoBold';
					font-size: 2.4em;
					color: @black;
					text-align: center;
					background: url("../img/layout/lineblack.png") repeat-x center;
					span{
						padding: 0 20px;
						background-color: @background;
					}
				}
				div.way{
					width: 800px;
					margin: auto;
					div{
						display: inline-block;
					}
					div.earth{
						width: 140px;
						height: 180px;
						background: url("../img/layout/icon-earth.png") no-repeat center
					}
					div.progress{
						width: 520px;
						height: 180px;
						background-color: aqua;
					}
					div.destination{
						width: 140px;
						height: 180px;
						background-color: green;
					}
					div.rocket{
					}
				}
			}
		}
	}
}